/* general styles + about page */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
    font-size: 100%;
}

header {
    background-color: #d1c4cf;
    border-bottom: #949495 solid 1px;
}

body {
    background-color: #d1c4cf;
    min-height: 100dvh;
    width: 100%;
}

.logo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: right;
    padding: 20px;
}

h1 {
    color: #575660;
    text-align: center;
    font-family: fantasy;
    border-bottom: 1px solid #949495;
}

.row {
    display: flex;
    align-items: flex-start;
    gap: 40px;
    margin-bottom: 20px;
}

p {
  margin-right: 20px; 
  color: #575660; 
  font-family: "Josefin-sans", sans-serif;
  font-size: 1.5em;
  padding-top: 20px;
}

.leonor-image {
    margin-left: 20px;
    padding-top: 20px;
}

h4 {
    color: #575660;
    text-decoration: none;
    font-family: "Josefin-sans", sans-serif;
    margin: 20px;
    margin-left: 100px;
    margin-right: 100px; ;
}

.nav-bar {
    display: flex;
    gap: 100px;
    list-style: none;
    margin: 50px;
    flex-wrap: wrap;
}

.nav-bar :hover {
    color: #a883a0;
    transform: scale(1.2);
    transition: transform 1s ease;
}

.nav-bar a {
    text-decoration: none;
    font-family: "Josefin-sans", sans-serif;
    text-transform: uppercase;
    color: #575660;
    text-align: center;
    flex-wrap: wrap;
}

.move-text {
    animation: slideRight 10s linear infinite;
    white-space: nowrap;
    position: relative;
    gap: 30px;
    margin: 20px;
}

@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);   
    }
}

.me-image {
    display: flex;
    float: right;
    margin: 20px;
    align-items: flex-end;
    border: #575660 solid 3px;
}

.email {
    color: #575660;
    text-decoration: underline;
    font-family: "Josefin-sans", sans-serif;
}

/* inspiration section */

.valfre-title {
   position: relative;
    left: -200px;
}

.cardona-title {
    position: relative;
    left: -70px;
}

.mada-title {
    position: relative;
    left: 190px;
}

h5 a {
    color: #ffffff;
    text-decoration: none;
    font-family: "Josefin-sans", sans-serif;
    border: #ffffff dotted 2px;
    padding: 10px;
    text-align: center;
    margin-left: 100px;
    margin-bottom: 50px;
    text-shadow: #a883a0 1px 1px 2px;
}

h5 a:hover {
    color: #a883a0;
}

section h2 {
    color: #575660;
    text-decoration: none;
    font-family: fantasy;
    text-align: center;
    border-top: 1px solid #949495;
    border-bottom: 1px solid #949495;
    padding: 10px 0;
    text-align: center;
}
.valfre-image {
    border: #000000 double 15px;
    margin-left: 300px;
}

.femalealchemy-image {
    margin-left: 500px;
    border: #000000 dotted 7px;
}

.mada-image {
    border: #000000 double 15px;
    margin-left: 700px;
}

/* top 5's section */

.addToMultiple {
    text-decoration: none;
    font-family: "Josefin-sans", sans-serif;
    color: #575660;
}

.addToMultiple:hover {
    color: #a883a0;
}

.luffy-image {
    border: #ac6060 solid 5px;
    margin-left: 30px;
    margin-top: 10px;
}

.ace-image {
    border: #b77b4a solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}   

.law-image {
    border: #e6e6e6 solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

.whitebeard-image {
    border: #3c313e solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

.chopper-image {
    border: #7db5b7 solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

.sanji-image {
    border: #cdce82 solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

.zoro-image {
    border: #779c90 solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

.brook-image {
    border: #826591 solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

.sabo-image {
    border: #3757a9 solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

.roger-image {    
    border: #aa91aa solid 7px;
    margin-left: 30px;
    margin-top: 10px;
}

/* top 5's image citations:

- Monkey D. Luffy - BOBART042 (n.d.) one piece wano arc [Image]. Pinterest. https://www.pinterest.com/pin/43347215157981907/
- Portgas D. Ace - Pabverus (n.d.) Ep 1013 [Image]. Pinterest. https://www.pinterest.com/pin/791085490806093584/
- Roronoa Zoro - MnkyDLufy (n.d.) [Image]. Pinterest. https://www.pinterest.com/pin/737323770263237217/
- Tony Tony Chopper - misschanelsan (n.d.) [Image]. Pinterest. https://www.pinterest.com/pin/680536193704989461/
- Vinsmoke Sanji - xqlci (n.d.) one piece | アニメ | 𝙨𝙖𝙧𝙖 ౨ৎ [Image]. Pinterest. https://www.pinterest.com/pin/759349187193973567/
- Soul King Brook - dieegooignaacio (n.d.) [Image]. Pinterest. https://www.pinterest.com/pin/690669292875662232/
- Sabo - caioleone_ (n.d.) Sabo e Ace, Mera Mera no Mi - One Piece Film: Gold [Image]. Pinterest. https://www.pinterest.com/pin/792211390725615524/
- Trafalgar D. Waterlaw - sodiumchloridess_ (n.d.) Law ✨ [Image]. Pinterest. https://www.pinterest.com/pin/1027665208708527758/
- Edward Newgate (Whitebeard) - brike83r (n.d.) [Image]. Pinterest. https://www.pinterest.com/pin/506021708137788442/
- Gol D. Roger - anime_closet (n.d.) Gol D. Roger - King of the pirates - One piece - Anime Closet [Image]. Pinterest. https://www.pinterest.com/pin/5770305767858465/  */

li p {
    color: #575660;
    font-family: "Josefin-sans", sans-serif;
    font-size: 1.1em;
    margin-bottom: 40px;
    margin-left: 30px;
    max-width: 600px;
}

li a {
    color: #575660;
    text-decoration: none;
    font-family: "Josefin-sans", sans-serif;
    font-size: 1.2em;
    margin-left: 30px;
    margin-bottom: 10px;
    text-shadow: #bb6f93 2px 2px 3px;
}

h3 {
    color: #575660;
    text-decoration: none;
    font-family: fantasy;
    margin-left: 650px;
    padding: 10px;
}

/* portfolio section */

.allCan-image {
    border: #e6e6e6 solid 7px;
    display: block;
    margin: 0 auto 15px auto; 
    width: 100%;
    max-width: 500px;
    height: auto;
}

.portfolio-container {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top: 20px; 
    align-items: center; 
    padding: 20px;
    align-items: center;
    gap: 20px;
    
}

.portfolio-container p {
    color: #575660;
    font-family: "Josefin-sans", sans-serif;
    font-size: 1.3em;
    max-width: 800px;
    text-align: center;
    margin: 20px auto;
}

.allCan-title {
    color: #575660;
    font-family: fantasy;
    margin-left: 670px;
    text-decoration: none; 
    text-align: center;
    margin: 20px 0;
}

@media (max-width: 768px) {

    .portfolio-container {
        grid-template-columns: 1fr;
    }

   .nav-bar {
        flex-direction: row;
        align-items: center;
        font-size: 0.7em;
    } 

    h1 {
        text-align: center;
        font-size: 24px;
    }

    .portfolio-container p {
        font-size: 1em;
        padding: 10px;
    }
}

/* footer */

footer {
    margin-top: 30px;
    border-top: 2px solid #949495;   
    border-bottom: 2px solid #949495;
    text-align: center;
    padding: 10px;
    background-color: #f5f5f5; 
}

footer h4 {
    margin: 0;
}

footer h5 {
    margin: 8px;
    font-family: "Josefin-sans", sans-serif;
    color: #575660;
}
